.card-container {
    cursor: pointer;
    border: solid 2px transparent;
    border-radius: 6px;
}

.card-container:hover {
    border: solid 2px rgb(255, 211, 17);
    background-color: rgb(53, 54, 65);
}