@import 'reset.css';

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #590000;
    padding-top: 8px;
    padding-bottom: 8px;
}

.score-container {
    margin-right: 32px;
}

.score-text {
    font-weight: bold;
    font-size: 24px;
    color: #fdfcf9;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #2d0e0e;
    padding-top: 8px;
}

.card {
    cursor: pointer;
    border: solid 2px transparent;
    text-align: center;
    margin-left: 12px;
    margin-right: 12px;
    padding: 16px;
    color: #fdfcf9;
    font-weight: bold;
}

.card:hover {
    border: solid 2px #fdfcf9;
    background-color: rgb(53, 54, 65);
}